*{ /*This is just for taking margin a padding out*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{ /*Styling for the titles*/
    text-align: center;
    font-size: 80px;
}

/*Sets the container to flex*/
.container{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}



#map{ /*This is for the map */
    height: 30vw;
    width: 50vw;
}

/*Set up the restaurant list*/
#restaurant_list {
    position: relative;
    width: 20vw;
    height: 30vw;
    min-height: 350px;
    max-height: 600px;
    min-width: 125px;
    overflow: hidden;
    background-color: rgb(175, 175, 175);
}

.list-items { /* intem list*/
    font-size: 1.5vw;
    margin: 0;
    padding: 1rem;
    border-bottom: 2.5px solid rgb(65, 65, 65);
}
.scroll { /*Scroll styling */
    overflow: auto;
    width: Calc(20vw + 20px);
    height: 40vw;
    max-height: 600px;
    min-height: 350px;
}

/*This is for showing and hide wen clicked on each restaurant.*/
.hide-list{
    display: none;
}
.show-list{ /*WEn list appers*/
    background-color: aliceblue;
    font-size: 16px;
    border: 2.5px solid black;
}


.rest-info{/* font from rest page*/
    font-size: 1em;
}

#home:hover { /* hover on the title of the rest page.*/
    cursor: pointer;
    color: rgb(0, 105, 240);
}

